{% extends "auctions/layout.html" %}

{% block title %} Watchlist {% endblock %}

{% block body %}
<h2>Added items</h2>
<ul class="listings"> 
    {% for listing in listings %}
    <li>
        <h3><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></h3>
        <img src= "{{ listing.imageURL }}" width="300" height="300">
        <p>Starting bid {{ listing.startingPrice }} $</p>
        <p>Current bid: {{ listing.currentBid }} $</p>
        <p class="created">Created {{ listing.created }}</p>
    </li>
    {% endfor %}
</ul>


{% endblock %}